#pascalTriangle{
  width: 80%;
  p{
    width: 7.5%;
    height: 20px;
    display: inline-block;
    padding: 10px;
    //border: 1px solid red;
    vertical-align: top;
    text-align: center;
  }
  div:nth-of-type(2n){
    padding-left: 8%;
  }
  div{
    height: 30px;
    border-bottom: 1px solid white;
  }
}


.block_search_wp{
  margin-top: 100px;
  width: 100%;
  padding: 100px;
  background: lightblue;

}
.block_search{
  div{
    padding: 20px;
    min-width: 100px;
    margin: 20px 20px 20px 0;
    display: inline-block;
    background: chocolate;
    color: white;
  }
}

#count{
  //width: 130px;
  //height: 50px;
  padding: 20px 30px;
  color: white;
  background: steelblue;
  display: inline-block;
  vertical-align: top;
}
input{
  display: inline-block;
  vertical-align: top;
}